
/* font dependencies */
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */
.primary-btn{
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    padding: 12px 36px;
}

.primary-btn:hover{
    background-color:aqua;
    cursor: pointer;
    color: black;
}

/* nav */
nav{
    max-width: 1140px;
    margin: 0 auto;
}

.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
    margin-top: 50px;
}

.nav-items button{
    margin-top: 50px;
}

/* banner items */
.banner-items{
    padding: 309px 267px 152px;
}

.banner-items h4{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
    text-align: center;
    width: 905px;
    height: 152px;
    margin: 0 auto; 
    margin-bottom: 37px; 
}

.banner-items button{
    display: block;
    margin: 0 auto;
}

/* header */
header{
    background-image: url('../Assets/Hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

/* Action section */
.action{
    display: flex;
    max-width: 1140px;
    margin-top: 106px;
    gap: 220px;
    margin: 0 auto;
    margin-top: 106px;
}

.action-title{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}

.action-description{
    font-weight: 100;
    font-size: 24px;
    color: #252432;
    width: 100%;
}

.action-image{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

/* user */
.user h3{
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 50px;
}

.user h1{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin-top: 40px;
    margin-bottom: 0px;
}

.user h5{
    font-weight: 400px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0px;
}

.user-details{
    display: flex;
    gap: 158px;
    justify-content: center;
}

.user{
    background-color: rgba(78, 71, 255, 0.1);
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
    height: 306px;
    align-items: center;
    margin-top: 116px;
}

/* card */
.card-title{
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    margin-top: 137px;
    margin-bottom: 50px;
}
.card p{
    width: 320px;
    margin-bottom: 24px;
}

.card{
    border: 1px solid #F2EDED;
    width: 365px;
    height: 245px;
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.5);
}

.card-container{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.review{
    display: flex;
    gap: 12px;
    align-items: center;
}

.review img{
    width: 40px;
    height: 40px;
}

.reviewer h5{
    margin-bottom: 2px;
    font-weight: 700px;
    font-size: 1rem;
    color: #757575;
}

.reviewer h6{
    margin-top: 0px;
    color: #B3B3B3;
    font-size: 1rem;
}

/* focus */
.focus{
    background-color: rgba(250, 250, 250, 1);
    padding: 71px 150px;
    border-radius: 14px;
    margin: 137px 150px 92px;
}

.focus-title{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
}

.focus-description{
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 20px;
}

.focus button{
    display: block;
    margin: 0 auto; 
    margin-bottom: 20px;
}

.focus img{
    display: block;
    margin: 0 auto;
    width: 840px;
    height: 365px;
    border-radius: 48px;
}

/* contact */
.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 71px;
    padding-bottom: 71px;
    background-color: rgba(245, 248, 255, 1);
}

.contact-tile{
    font-weight: bold;
    font-size: 97px;
    width: 528px;
    height: 232px;
}

.contact-info label{
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    font-size: 0.75rem;
}

.contact-info input{
    margin-bottom: 19px;
    border: none;
    padding: 20px 271px 20px 32px;
    border: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.5);
}
.contact-info textarea{
    margin-bottom: 19px;
    padding-left: 32px;
    padding-top: 20px;
    width: 92%;
    height: 135px;
    border: none;
    font-size: 20;
    border-radius: 10px;

}

.contact-info button{
    display: block;
    width: 100%;
}

/* footer */
.footer{
    max-width: 1440px;
    margin: 0 auto;
    height: 428px;
}
.footer-title{
    font-weight: 900;
    font-size: 100px;
    color: rgba(78, 71, 255, 1);
    text-align: center;
    margin-bottom: 8px;

}

.footer-message{
    color: rgba(137, 135, 161, 1);
    font-size: 400;
    font-size: 16px;
    text-align: center;
    margin-top: 0px;
    width: 531px;   
    margin: 0 auto;
    margin-bottom: 20px;    
}

.footer-links a{
    font-size: 16px;
    font-weight: 400;
    margin-right: 48px;
    text-decoration: none;
    color: #8987A1;
}


.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* responsive UI */
.hide{
    display: none;
}

@media screen and (max-width: 576px) {
    .action,
    .user-details,
    .card-container,
    .contact
    {
        flex-direction: column;
        gap: 30px;  
    }
    
    .action-image{
        width: 100%;
    }
    .user{
        background-color: white;
        height: 100%;
    }
    .user h3{
        margin-left: 20px;
    }
    .user-details{
        align-items: center;
    }

    .focus{
        padding: 71px 10px;
        margin: 137px auto 92px;
        background-color: white;
    }
    .focus img{
        width: 100%;
    }

    .contact{
        background-color: white;
    }
    .contact-tile{
        font-size: 50px;
        width: 100%;
        height: 100%;
    }
    .contact-info input{
        padding: 20px 100px 20px 32px;
    }
    .contact-info textarea{
        width: 90%;
    }
    .footer-message{
        width: 100%;
    }
    .footer-links{
        flex-direction: column;
    }
}